APP_NAME=RestoGateway
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.resto.local

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=resto_gateway
DB_USERNAME=resto
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=localhost,resto.local
SESSION_DRIVER=cookie
SESSION_DOMAIN=.resto.local
